@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as m;

.section {
	&.is-medium {
		padding: 6.5rem 3.5rem;

		@include m.mobile {
			padding: 2rem 1.5rem;
		}
	}

	.hero {
		&-body {
			padding: 3.5rem;
			
			@include m.mobile-min {
				padding: 6.5rem 3.5rem;
			}
		}
	}
}

.container {
	max-width: 1440px;
	margin-inline: auto;

	&.is-medium {
		max-width: 1000px;
		margin-inline: auto;
	}
	
	&.is-small {
		max-width: 800px;
		margin-inline: auto;
	}
}
